@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@font-face {
	font-family: jackinput;
	src: url(fonts/jackinput.ttf);
}
@font-face {
	font-family: igor_font;
	src: url(fonts/IGOR-BoldItalic.ttf);
}

header {
	color: #1C1C1C;
	margin: 0px;
	min-width: 100%;
}


#nav-container {
	font-size: 1.8vw;
	display: flex;
	gap: 2vw;
	justify-content: flex-start;
	align-items: flex-start;
	list-style: none;
	padding-left: 1vw;
	margin: 0px;
}

hgroup {
	font-family: jackinput;	
	font-size: 2vw;
	min-width: 100%;
}

li > a {
	text-decoration: none;
	color: #1C1C1C;
	padding: 1vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
}


li {
	padding: 1vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-decoration: none;
}

#nav-2 > a  {
	color: #B4B8AB;
}

#nav-2 {
	background-color: #1C1C1C;
	color: #B4B8AB;
}

li > a:hover {
	background-color: #1C1C1C;
	color: #B4B8AB;
}

#header {
	background-color: #f6b6c7;
	background-image: url("images/header_img.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	padding-right: 0px;
	min-width: 100%;
}

#title_head {
	font-family: igor_font;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 10px;
}

#text {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}



html {
	font-family: Montserrat;
}

body {
	display: flex;
	min-height: 100vh;
	min-width: 100%;
	flex-direction: column;
	background-color: #1C1C1C;
	margin: 0px;
	color: #B4B8AB;
}

#footer {
	background-color: #f6b6c7;
	color: #1C1C1C;
	margin: 0px;
	margin-top: auto;
	min-width: 100%;
}

#footer_p {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 2vw;
	padding-bottom: 2vw;
	font-size: 1vw;
	padding-left: 2vw;
}


#grid_body {
	display: grid;
	grid-template-areas: "nav nav" "genius spotify" "flex spotify";
	grid-column-gap: 2,5vw;
	margin: 0vw;
}

#nav {
	grid-area: nav;
}

#spotify {
	grid-area: spotify;
	width: 25vw;
}

#genius {
	grid-area: genius;
	border-style: solid;
	border-color: #f6b6c7;
	border-radius: 20px;
	width: 60vw;
	margin-left: 2.5vw;
	margin-right: 0px;
}

.rg_embed { 
	border-style: none !important;
	border-radius: 20px !important;
	color:#B4B8AB !important;
	background-color: #1C1C1C !important;
	width: 98% !important;
}

.rg_embed_body a {
	color: #B4B8AB !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.rg_embed_footer a{
	text-decoration: none !important;
	color: #B4B8AB !important;
}

.rg_embed_footer {
	border: none !important;
}


#flex {
	grid-area: flex;
	display: flex;
	margin-left: 2.8vw;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 60vw;
	font-size: 1.3vw;
	user-select: none;
	max-height: 10vh;

}

#next {
	border-radius: 10px;
	padding: 10px;
	color: #1c1c1c;
	background-color: #f6b6c7;
}

#previous {
	border-radius: 10px;
	padding: 10px;
	color: #1c1c1c;
	background-color: #f6b6c7;
}

#next_12 {
	border-radius: 10px;
	border-color: #f6b6c7;
	padding: 10px;
	color: #B4B8AB;
	background-color: #1c1c1c;	
}

#previous_1 {
	border-radius: 10px;
	border-color: #f6b6c7;
	padding: 10px;
	color: #B4B8AB;
	background-color: #1c1c1c;
} 

#return {
	border-radius: 10px;
	padding: 10px;
	color: #1c1c1c;
	background-color: #f6b6c7;
}

#previous:hover {
		border-radius: 10px;
	border-style: solid;
	border-color: #B4B8AB;
	color: #B4B8AB;
	background-color: #1c1c1c;
}

#next:hover {
	border-radius: 10px;
	border-style: solid;
	border-color: #B4B8AB;
	color: #B4B8AB;
	background-color: #1c1c1c;
}

#return:hover {
	border-radius: 10px;
	border-style: solid;
	border-color: #B4B8AB;
	color: #B4B8AB;
	background-color: #1c1c1c;
}

#nav {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 1vw;
	margin-bottom: 0.5vw;
}

.nav_button {
	border-radius: 10px;
	color: #1c1c1c;
	background-color: #f6b6c7;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
	text-align: center;
	font-size: 1.2vw;
	padding: 0.8vw;
	vertical-align: middle;
}

.nav_button:hover {
	border-radius: 10px;
	border-style: solid;
	border-color: #B4B8AB;
	color: #B4B8AB !important;
	background-color: #1c1c1c;
}

#intro {
	text-align: justify;
	font-size: 1.2vw;
	padding: 1vw;
	margin: 2.5vw;
	border-radius: 10px;
	border-style: solid;
	border-color: #f6b6c7;
}

#song_title {
	color: #f6b6c7;
	font-family: igor_font;
	font-size: 4vw;
	padding: 0;
	margin: 0;
	text-align: center;
}

#deactivated {
	border-radius: 10px;
	border-style: solid;
	border-color: #B4B8AB;
	color: #B4B8AB;
	background-color: #1c1c1c;
}

a {
	text-decoration: none;
	color: #1c1c1c;
}

#footer_p{
	padding-right: 1vw;
	border-style: none solid none none;ù
	border-color: #1c1c1c;
}
#contacts {
	padding-left: 1vw;
	font-size: 1vw;
}
footer {
	display: flex;
	padding-right: 2vw;
}